*{
    box-sizing: border-box;
}
body{
    background-color: #6C737D;
}
body,
ul{
    margin:0;
}
header{
    background-color: #4B5058;
    height: 8em;
}
nav{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
#close-cont{
    position: relative;
    cursor: pointer;
}
#close-btn{
    height: 8px;
    width: 80px;
    border-radius: 15px;
    background-color: yellow;
    transform: rotate(45deg);
    position: absolute;
    /* z-index: 2; */
    z-index: -1;
}
#close-btn::after{
    content: "";
    height: 8px;
    width: 80px;
    border-radius: 15px;
    background-color: yellow;
    position: absolute;
    transform: rotate(-90deg);
}
#list-item-cont{
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    z-index: 1;
    top: 0;
    color: white;
    background-color: black;
    height: 100vh;
    width: 90%;
    transition: transform .5s ease-in;

    
}
.menu-slide{
    transform: translateX(100%);
}
#list-item-cont li {
    list-style-type: none;
    padding-bottom: .5em;
    font-size: xxx-large;
}
#hamburger-cont{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 2em;

}
#hamburger-menu{
    background-color: #FBBD60;
    height: 8px;
    width: 80px;
    border-radius: 15px;

}
#hamburger-menu::before,
#hamburger-menu::after{
    content: "";
    background-color: #FBBD60;
    height: 8px;
    width: 80px;
    border-radius: 15px;
    position: absolute;
}

#hamburger-menu::before{
    transform: translateY(-20px);
}
#hamburger-menu::after{
    transform: translateY(20px);
}